<html>
  
<link rel="stylesheet" href="/styles/styles.css">
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="/fav/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/fav/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/fav/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/fav/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/fav/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/fav/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/fav/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/fav/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/fav/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/fav/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#1a1a1a">
<meta name="msapplication-TileImage" content="/fav/ms-icon-144x144.png">
<meta name="theme-color" content="#1a1a1a">


<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.7/firebase.js"></script>
<title>GRÜUP</title>
<body>
  <img src="/fav/favicon-16x16.png">
  <span class="logo">
    <a style="color:#fff;" href="/">GRUUP</a> 
  </span> <span class="room-name"><%= @room.upcase if @room %></span>
  
    <% if @username %>
      <div class="user-data-1">
        <a href="/u"><%= @username %></a> <a href="/logout"><i class="fa fa-sign-out"></i></a>
      </div>
      
    <% else %>
      <a href="/login" class="user-data-1">login</a>
    <% end %>
    
    
    
    
    <notices id="notices">
      <% if @notice %>
        <div class="notice">
          <i class="fa fa-exclamation-circle"></i> &nbsp;<%= @notice %>
          <span class="static-notice-close"><i class="fa fa-times"></i></span>
        </div>
      <% end %>
      
    </notices>
    
   
   <div class="yield-content">
     <%= yield %>
   </div>
   

    
</body>


<script>

  var userNotes = new Firebase("https://h4xchat.firebaseio.com/users/" + '<%= @username %>' + "/notices/" );
  userNotes.on('child_added', function(note) {

    var nn = this.view = document.createElement('div');
    nn.setAttribute('class', 'notice');
    nn.setAttribute('id', note.key());
    nn.innerHTML = "<a class='notice-link-out' href='/c/" + note.val().room + "'><i class='fa fa-comment'></i> <b>" + note.val().room + "</b> <span class='notice-message'>" + note.val().message + "</span></a>";
    
    n_close = nn.appendChild(document.createElement('span'));
    n_close.setAttribute('class', 'notice-close');
    n_close.innerHTML = "<i class='fa fa-times'></i>";
    
    $(nn).appendTo('notices');
    
    $( ".notice-close").unbind( "click" );
    
    $('.notice-close, .notice-link-out').click(function(){
      
      var noticeId = $(this).parent().attr('id');
      
      $(this).parent().slideUp("fast", function() { $(this).remove(); } );
      
      var noticeRemove = new Firebase("https://h4xchat.firebaseio.com/users/" + "<%= @username %>" + "/notices/" + noticeId );
      noticeRemove.remove();
      
      
    });
  
    
  }, function (errorObject) {
    console.log("The read failed: " + errorObject.code);
  });
  
  
  $('.static-notice-close').click(function(){
    $(this).parent().slideUp("fast", function() { $(this).remove(); } );
  });
  
  

  
</script>

</html>

